/*====================================================

JOGANI EVENT
Responsive CSS
Part - 1

====================================================*/


/*==========================
Large Desktop
===========================*/

@media(max-width:1400px){

.container{

width:92%;

}

.hero-content h1{

font-size:65px;

}

.section-title h2{

font-size:38px;

}

}


/*==========================
Laptop
===========================*/

@media(max-width:1200px){

.hero-content h1{

font-size:58px;

}

.hero-content p{

font-size:18px;

}

.nav-links{

gap:22px;

}

.logo span{

font-size:24px;

}

.about .container{

gap:50px;

}

.counter-grid{

grid-template-columns:repeat(2,1fr);

}

.why-grid{

grid-template-columns:repeat(2,1fr);

}

.services-grid{

grid-template-columns:repeat(2,1fr);

}

.machine-grid{

grid-template-columns:repeat(2,1fr);

}

.footer-container{

grid-template-columns:repeat(2,1fr);

}

}


/*==========================
Tablet
===========================*/

@media(max-width:992px){

section{

padding:80px 0;

}

.menu-btn{

display:block;

}

.book-btn{

display:none;

}

.nav-links{

display:none;

}

.navbar{

padding:18px 30px;

}

.hero{

height:90vh;

}

.hero-content{

max-width:700px;

}

.hero-content h1{

font-size:52px;

}

.hero-content p{

font-size:18px;

}

.hero-buttons{

gap:15px;

}

.about .container{

grid-template-columns:1fr;

}

.about-right{

text-align:center;

}

.counter-grid{

grid-template-columns:repeat(2,1fr);

}

.why-grid{

grid-template-columns:repeat(2,1fr);

}

.services-grid{

grid-template-columns:repeat(2,1fr);

}

.machine-grid{

grid-template-columns:repeat(2,1fr);

}

.contact-wrapper{

grid-template-columns:1fr;

}

.footer-container{

grid-template-columns:repeat(2,1fr);

}

}